

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="{{url_for('static', filename = 'css/styles.css')}}">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-light bg-primary" style="padding-top: 2px ;padding-bottom:2px; padding-left: 10px;">
  <a class="navbar-brand text-white"><h2>HEXACORP</h2></a>
</nav>

   {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %} 
      {% for category, message in messages %}
      {% if category == 'error' %} 
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
         {{ message }}
         <button class="close" type="button" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% else %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
         {{ message }}
         <button class="close" type="button" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}
      <br>
      <br>
      <br>
<div class="container w-50">
<div class="card">
<article class="card-body">
<a href="/" class="float-right btn btn-outline-primary">Sign in</a>
<h4 class="card-title mb-4 mt-1">Sign up</h4>
	 <div class="form_container">
    <form class="form-compact needs-validation" action="/register"   method="post" novalidated>
    <div class="form-group">
    	<label>Your email</label>
        <input class="form-control" id="email" name="email" placeholder="Email" type="email" aria-describedby="inputGroupPrepend" required />
    </div> <!-- form-group// -->
    <div class="form-group">
    	<label>Your password</label>
        <input class="form-control" placeholder="******" id="password1" name="password1" type="password" aria-describedby="inputGroupPrepend" required />
    </div> <!-- form-group// --> 
    <div class="form-group">
    	<label>Your password(Confirmed)</label>
        <input class="form-control" placeholder="******" id="password2" name="password2" type="password" aria-describedby="inputGroupPrepend" required />
    </div> <!-- form-group// --> 
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>                                                        
   </form>
   </div>
</article>
</div> <!-- card.// -->
</div>
   <script src="{{url_for('static',filename='javascript/validate.js')}}"></script>
</body>
</html>